* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    background-color: #FFD900;
    padding: 25px;
}

#ajuste {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50vw;
}

#infos {
    padding-top: 40px;
    height: 564px;
    background-color: #514988;
    color: #FFFFFF;
    text-align: center;
}

#titulo-informacoes h1 {
    color: #F3C61F;
    font-size: 60px;
    font-weight: 700;
    padding: 25px;
} 

span {
    font-weight: 700;
    font-size: 25px;
}

#texto {
    width: 678px;
    height: 350px;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    line-height: 30px;
    margin-left: 20px;
}
#timer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #514988;
    font-size: 30px;
    margin: 20px 10px 5px 10px;
}

#info-texto {
    color: #E33881;
    font-weight: 700;
    font-size: 25px;
    margin-left: 70px;
}

#video, video {
    background-color: white;
    width: 800px;
    height: 510px;
    margin-left: 10px;
}

#titulo {
    padding: 15px;
    margin-left: 110px;
    color: #F3C61F;
    font-size: 27px;
    font-weight: 700;
}

#card-imagens{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #514988;
    width: 500px;
    height: 120px;
    border-radius: 20px;
    border: 0px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}

button:hover {
    cursor: pointer;
    color: #F3C61F;
}